
@tailwind base;

@tailwind components;
@tailwind utilities;

@layer components {
    html{
      scroll-behavior: smooth;
    }
    .reveal{
      position: relative;
      transform: translateY(150px);
      opacity: 0;
      transition: 1s all ease;
    }
    
    .reveal.active{
      transform: translateY(0);
      opacity: 1;
    }

    .active.fade-left {
      animation: fade-left 1s ease-in;
    }
    .active.fade-right {
      animation: fade-right 1s ease-in;
    }
}

/* bg-gradient-to-r from-[#f83d5c]  to-[#fd4b2f] */
/* <div class="lg:h-auto lg:mx-28 lg:flex mx-10 reveal">
        <div class="lg:w-1/3  h-[100%] lg:ml-32 lg:p-5 text-left lg:text-lg text-sm bg-gray-400 shadow-md rounded-2xl">
            <div class="border-2 border-white mt-3 rounded-xl flex mx-4 ">
                <span class="border-r-2 border-white px-4 my-3"><i class="fa-solid fa-envelope fa-2x"></i></span>
                <p class="ml-3 my-auto">ronakasliya@gmail.com</p>
            </div>
            <div class="border-2 border-white rounded-xl my-5  flex mx-4">
                <span class="border-r-2 border-white px-4 my-3"><i class="fa-solid fa-phone fa-2x"></i></span>
                <p class="ml-3 my-auto">+91 9549978481</p>
            </div>
            <div class="border-2 border-white my-5 flex rounded-xl mx-4">
                <span class="border-r-2 border-white px-4 my-4"><i class="fa-solid fa-map-location-dot fa-2x "></i></span>
                <p class="ml-3 my-auto">Chhoti Sadri, Pratapgarh, Rajasthan</p>
            </div>
            <div class="border-2 border-white my-5 px-4 rounded-2xl py-4 flex mx-4 text-justify">
                <p>Have a project in mind? Looking to partner or work together? Reach out through the form and I'll get back to you in the next 48 hours.</p>
            </div>
        </div> */

